body {
  margin: 30px;
  color: white;
  background: black;
}

nav {
  text-align: right;
}

a {
  display: inline-block;
  color: aqua;
}

a:hover {
  color: yellow;
  text-decoration: underline;
}

nav a {
  padding: 10px 20px;
}

h1, h2, h3 {
  margin-top: 15px;
}